.container {
   display: flex;
   align-items: center;
}

.changeBtn {
   display: flex;
   align-items: center;
   background-color: var(--main);
   color: var(--white);
   border-radius: 0.25rem;
   padding: 0.65rem;
   cursor: pointer;

   &:hover {
      opacity: 0.9;
   }
}

.count {
   width: 2.75rem;
   text-align: center;
   color: var(--text);
   font-size: 1.5rem;
   font-weight: 500;
}
